# MYSQL host
MYSQL_HOST = "127.0.0.1"

# user of MySQL
MYSQL_USER = "" 

# password of MYSQL
MYSQL_PASSWORD = ""

# NYSQL Database

MYSQL_DB = "Android_Malware"

## You Can Change Mysql Port in config File
# Fedora : /etc/my.cnf
# OpenSuse : /etc/my.cnf
MYSQL_PORT = 3306

